Repository rrtjr/Granite: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, check-toml, ruff, ruff-format, bandit, mypy, yamllint

check-yaml:
  name: check-yaml
  entry: python -c "import sys,yaml;[yaml.safe_load(open(f))for f in sys.argv[1:]]"
  language: system

check-json:
  name: check-json
  entry: python -c "import sys,json;[json.load(open(f))for f in sys.argv[1:]]"
  language: system

check-toml:
  name: check-toml
  entry: python -c "import sys,tomllib;[tomllib.load(open(f,'rb'))for f in sys.argv[1:]]"
  language: system

ruff:
  name: ruff
  entry: ruff check --fix
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

bandit:
  name: bandit
  entry: bandit -c pyproject.toml
  language: system

mypy:
  name: mypy
  entry: mypy --ignore-missing-imports --no-strict-optional
  language: system

yamllint:
  name: yamllint
  entry: 'yamllint -d ''{extends: default, rules: {line-length: {max: 120}}}'''
  language: system

Added support for upsplash banners
  docs/FEATURES.md
  frontend/app.js
  frontend/index.html
  tests/README.md
  tests/test_unsplash_banner.html
Due: none

Fix unsplash banner not updating code editor content
  frontend/app.js
  tests/test_unsplash_banner.html
Due: none

Added table of contents
  docs/FEATURES.md
  frontend/app.js
  frontend/index.html
  tests/test_toc.html
Due: none

Fixed TOC and banner not showing on pdf export
  frontend/app.js
  frontend/index.html
  plugins/pdf_export.py
Due: ruff, ruff-format, bandit, mypy

Added new themes
  backend/themes.py
  themes/catppuccin-mocha.css
  themes/github-dark.css
  themes/github-light.css
  themes/one-dark-pro.css
  themes/solarized-dark.css
  themes/solarized-light.css
Due: ruff, ruff-format, bandit, mypy

Updated test because of a change in pdf export result
  tests/test_pdf_export_plugin.py
Due: ruff, ruff-format, bandit, mypy

Automating update for created and modified frontmatter
  backend/main.py
  backend/utils.py
  config.yaml
  docs/API.md
  docs/TEMPLATES.md
  frontend/app.js
  frontend/index.html
  tests/test_datetime_settings.py
  tests/test_user_settings.py
Due: check-yaml, ruff, ruff-format, bandit, mypy, yamllint

Fixed vulnerability CVE-2026-22701
  pyproject.toml
  uv.lock
Due: check-toml

Bump version to 0.15.0
  VERSION
Due: none

Updated Changelog to reflect recent changes
  CHANGELOG.md
Due: none

Updated frontmatter to use a more intuitive datetime format
  backend/utils.py
  docs/TEMPLATES.md
  tests/test_datetime_settings.py
Due: ruff, ruff-format, bandit, mypy

Fixed datetime format for created frontmatter
  backend/utils.py
  config.yaml
  docs/templates/daily-journal.md
  docs/templates/meeting-notes.md
  docs/templates/project-plan.md
Due: check-yaml, ruff, ruff-format, bandit, mypy, yamllint

Fixed new note modal always on the top left of the screen
  frontend/modules/ui.js
Due: none

Architectural changes namely:
  backend/core/decorators.py
  backend/core/rate_limits.py
  backend/main.py
  backend/routers/api_config.py
  backend/routers/folders.py
  backend/routers/images.py
  backend/routers/notes.py
  backend/routers/plugins.py
  backend/routers/plugins_git.py
  backend/routers/plugins_pdf.py
  backend/routers/tags.py
  backend/routers/templates.py
  backend/schemas.py
  backend/services/__init__.py
  backend/services/folder_service.py
  backend/services/image_service.py
  backend/services/note_service.py
  backend/services/search_service.py
  backend/services/settings_service.py
  backend/services/tag_service.py
  backend/services/template_service.py
  backend/utils.py
  config.yaml
  frontend/app-modular.js
  frontend/index.html
  frontend/modules/config.js
  frontend/modules/folder-operations.js
  frontend/modules/folder-render.js
  frontend/modules/folders.js
  frontend/modules/state.js
  frontend/modules/ui.js
  pyproject.toml
Due: check-yaml, check-toml, ruff, ruff-format, bandit, mypy, yamllint

Added e2e tests
  .github/workflows/test.yml
  .gitignore
  CONTRIBUTING.md
  config.yaml
  pyproject.toml
  tests/e2e/conftest.py
  tests/e2e/test_app.py
  tests/e2e/test_login.py
  tests/e2e/test_notes.py
Due: check-yaml, check-toml, ruff, ruff-format, bandit, mypy, yamllint

Fixed bad playwright installation
  .github/workflows/test.yml
  .yamllint.yml
Due: check-yaml, yamllint

Updated test workflow
  .github/workflows/test.yml
Due: check-yaml, yamllint

Installing both chromium and chromium-headless-shell
  .github/workflows/test.yml
Due: check-yaml, yamllint

Fixed test.yml workflow
  .github/workflows/test.yml
Due: check-yaml, yamllint

Fixed logic on failing e2e tests
  .github/workflows/test.yml
  tests/e2e/test_app.py
  tests/e2e/test_login.py
Due: check-yaml, ruff, ruff-format, bandit, mypy, yamllint

Fixed bad password for auth test
  .github/workflows/test.yml
Due: check-yaml, yamllint

Added a favorites panel feature
  backend/routers/api_config.py
  backend/services/settings_service.py
  config.yaml
  docs/API.md
  docs/TESTING.md
  frontend/app-modular.js
  frontend/app.js
  frontend/index.html
  frontend/modules/favorites.js
  frontend/modules/folder-render.js
  frontend/modules/init.js
  frontend/modules/state.js
  tests/test_favorites.py
  tests/test_favorites_ui.html
Due: check-yaml, ruff, ruff-format, bandit, mypy, yamllint

Updated the homepage by leveraging on README.md
  backend/routers/api_config.py
  config.yaml
  frontend/index.html
  frontend/modules/init.js
  frontend/modules/markdown.js
  frontend/modules/settings.js
  frontend/modules/state.js
Due: check-yaml, ruff, ruff-format, bandit, mypy, yamllint

Added new themes
  backend/themes.py
Due: ruff, ruff-format, bandit, mypy

Added new themes
  themes/ayu-dark.css
  themes/ayu-light.css
  themes/tokyo-night.css
Due: none

Added global flag to enable debug mode
  backend/config.py
  backend/routers/api_config.py
  backend/routers/notes.py
  docs/API.md
  docs/FEATURES.md
  frontend/modules/config.js
  frontend/modules/editor.js
  frontend/modules/export.js
  frontend/modules/favorites.js
  frontend/modules/graph.js
  frontend/modules/images.js
  frontend/modules/init.js
  frontend/modules/markdown.js
  frontend/modules/metadata.js
  frontend/modules/notes.js
  frontend/modules/plugins.js
  frontend/modules/search.js
  frontend/modules/settings.js
  frontend/modules/sidebar.js
  frontend/modules/tags.js
  frontend/modules/templates.js
  frontend/modules/themes.js
  frontend/modules/ui.js
  tests/test_graph_folder_links.py
Due: ruff, ruff-format, bandit, mypy

Fix location for logging flag
  backend/config.py
Due: ruff, ruff-format, bandit, mypy

Removed redundant comments
  backend/config.py
  backend/dependencies.py
  backend/main.py
  backend/plugins.py
  backend/routers/auth.py
  backend/routers/images.py
  backend/routers/notes.py
  backend/routers/templates.py
  backend/schemas.py
  backend/services/folder_service.py
  backend/services/image_service.py
  backend/services/note_service.py
  backend/services/search_service.py
  backend/services/settings_service.py
  backend/services/tag_service.py
  backend/services/template_service.py
  backend/utils.py
  frontend/modules/editor.js
  frontend/modules/folders.js
  frontend/modules/markdown.js
  frontend/modules/notes.js
  tests/conftest.py
  tests/test_file_operations.py
Due: ruff, ruff-format, bandit, mypy

Added spreadsheet-like functionality
  README.md
  docs/FEATURES.md
  docs/SPREADSHEETS.md
  frontend/app-modular.js
  frontend/index.html
  frontend/modules/markdown.js
  frontend/modules/notes.js
  frontend/modules/spreadsheet.js
  tests/e2e/test_spreadsheet_e2e.py
  tests/test_spreadsheet.py
Due: ruff, ruff-format, bandit, mypy

Fixed version mismatches
  VERSION
  docs/SPREADSHEETS.md
  frontend/index.html
  frontend/modules/spreadsheet.js
  pyproject.toml
  tests/e2e/test_spreadsheet_e2e.py
  tests/test_spreadsheet.py
Due: check-toml, ruff, ruff-format, bandit, mypy

Added feature to name custom spreadsheets
  docs/SPREADSHEETS.md
  frontend/app.js
  frontend/modules/markdown.js
  frontend/modules/spreadsheet.js
  tests/e2e/test_spreadsheet_e2e.py
  tests/test_spreadsheet.py
Due: ruff, ruff-format, bandit, mypy

Bump version to 0.16.0
  VERSION
Due: none

Bump README.md to 0.16.0
  README.md
Due: none

Fixed WeasyPrint Server-Side Request Forgery (SSRF) vulnerability
  pyproject.toml
Due: check-toml

Fixed WeasyPrint Server-Side Request Forgery (SSRF) vulnerability
  uv.lock
Due: none

Fix instance where edit needs manual refresh
  frontend/modules/init.js
Due: none

Replaced Preview with Rich editor
  frontend/app-modular.js
  frontend/app.js
  frontend/index.html
  frontend/modules/init.js
  frontend/modules/sidebar.js
  frontend/modules/state.js
  frontend/modules/tiptap.js
  frontend/modules/ui.js
  scripts/build-tiptap/build-tiptap.js
  scripts/build-tiptap/package-lock.json
  scripts/build-tiptap/package.json
  scripts/build-tiptap/tiptap-bundle-entry.js
Due: check-json

Updated build to accommodate tiptap bundle
  .gitignore
  Dockerfile
  docs/CODEMIRROR_BUNDLE.md
  scripts/build-tiptap/build-tiptap.js
  scripts/build-tiptap/tiptap-bundle-entry.js
  scripts/build/build-codemirror.js
  scripts/build/package-lock.json
Due: check-json

Added fix for tiptap failing to build
  Dockerfile
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: ^data/
  check-json: any of: \.json$, but not: ^data/
  check-toml: any of: \.toml$, but not: ^data/
  ruff: any of: \.py$, but not: ^data/
  ruff-format: any of: \.py$, but not: ^data/
  bandit: any of: \.py$, but not: ^data/
  mypy: any of: \.py$, but not: ^data/
  yamllint: any of: \.(yaml|yml)$, but not: ^data/
