Repository rrtjr/Granite: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, check-toml, ruff, ruff-format, bandit, mypy, yamllint

check-yaml:
  name: check-yaml
  entry: python -c "import sys,yaml;[yaml.safe_load(open(f))for f in sys.argv[1:]]"
  language: system

check-json:
  name: check-json
  entry: python -c "import sys,json;[json.load(open(f))for f in sys.argv[1:]]"
  language: system

check-toml:
  name: check-toml
  entry: python -c "import sys,tomllib;[tomllib.load(open(f,'rb'))for f in sys.argv[1:]]"
  language: system

ruff:
  name: ruff
  entry: ruff check --fix
  language: system

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system

bandit:
  name: bandit
  entry: bandit -c pyproject.toml
  language: system

mypy:
  name: mypy
  entry: mypy --ignore-missing-imports --no-strict-optional
  language: system

yamllint:
  name: yamllint
  entry: 'yamllint -d ''{extends: default, rules: {line-length: {max: 120}}}'''
  language: system

Cleaned logs and unused tiptap extensions. Enabled debug by default
  config.yaml
  frontend/app-modular.js
  frontend/modules/tiptap.js
  scripts/build-codemirror/codemirror-bundle-entry.js
  scripts/build-tiptap/tiptap-bundle-entry.js
Due: check-yaml, yamllint

Pages router injects debug flag to index.html
  backend/routers/pages.py
Due: ruff, ruff-format, bandit, mypy

Added markdown formatter feature on edit/split view
  backend/main.py
  backend/routers/__init__.py
  backend/routers/formatter.py
  backend/services/formatter_service.py
  frontend/index.html
  frontend/modules/editor.js
  frontend/modules/init.js
Due: ruff, ruff-format, bandit, mypy

Use raw (un-proxied) editor instance when updating content to prevent mismatch
  frontend/modules/tiptap.js
Due: none

Created a new feature called panes. Can now work with multiple notes at once
  frontend/app-modular.js
  frontend/index.html
  frontend/modules/init.js
  frontend/modules/notes.js
  frontend/modules/panes.js
  frontend/modules/sidebar.js
  frontend/modules/state.js
  frontend/modules/tiptap.js
Due: none

Fixed frontend tests. Created a unified interface
  tests/README.md
  tests/e2e/test_panes.py
  tests/test_all.html
  tests/test_git_plugin_ui.html
  tests/test_panes_ui.html
Due: ruff, ruff-format, bandit, mypy

Fixed split view not working on multiple panes
  frontend/modules/panes.js
Due: none

Fixed stats and collapse button alignment
  frontend/index.html
Due: none

Added color tabs for better visibility
  frontend/index.html
Due: none

Fixed frontmatter display
  frontend/index.html
  frontend/modules/panes.js
Due: none

Fixed scroll sync
  frontend/modules/panes.js
Due: none

Fixed markdown rendering on splitview for all panes
  frontend/index.html
  frontend/modules/panes.js
Due: none

Updated docs. Added a collapsed pane button
  docs/FEATURES.md
  frontend/index.html
  frontend/modules/state.js
Due: none

Fixed spreadsheet not rendering in split view and rich view
  frontend/modules/panes.js
  frontend/modules/spreadsheet.js
  frontend/modules/tiptap.js
Due: none

Added a few enhancements on the UI
  frontend/index.html
  frontend/modules/settings.js
  frontend/modules/state.js
  themes/dark.css
  themes/light.css
Due: none

Enhanced UI button feel
  frontend/index.html
Due: none

Removed old legacy containers instances
  frontend/index.html
  frontend/modules/editor.js
  frontend/modules/init.js
  frontend/modules/notes.js
  frontend/modules/panes.js
  frontend/modules/sidebar.js
  frontend/modules/state.js
  frontend/modules/tiptap.js
Due: none

Fixed timing issue when opening multiple panes.
  frontend/modules/panes.js
Due: none

Added support for edit and viewing of DrawIO diagrams
  backend/main.py
  backend/routers/__init__.py
  backend/routers/drawio.py
  docs/DRAWIO.md
  docs/FEATURES.md
  frontend/app-modular.js
  frontend/app.js
  frontend/index.html
  frontend/modules/drawio.js
  frontend/modules/init.js
  frontend/modules/markdown.js
  frontend/modules/panes.js
  frontend/modules/tiptap.js
  tests/e2e/test_drawio_e2e.py
  tests/test_drawio.py
Due: ruff, ruff-format, bandit, mypy

Updated bubble menu visibility
  frontend/index.html
  frontend/modules/tiptap.js
Due: none

Updated docs. Fixed static page scroll
  README.md
  docs/index.html
  docs/index.md
Due: none

Fixed failing test. The test now uses in to check for image/svg+xml
  tests/test_drawio.py
Due: ruff, ruff-format, bandit, mypy

Bump version to 0.18.0
  VERSION
Due: none

Fix docker-publish workflow to handle re-runs gracefully
  .github/workflows/docker-publish.yml
Due: check-yaml, yamllint

Fix CVE-2026-24486: Update python-multipart to 0.0.22
  pyproject.toml
  uv.lock
Due: check-toml

Add isolated mobile panes with tab bar navigation
  frontend/app.js
  frontend/css/mobile-panes.css
  frontend/index.html
  frontend/modules/init.js
  frontend/modules/mobile-panes.js
Due: none

Fix circular reference error in mobile-panes.js
  frontend/modules/mobile-panes.js
Due: none

Fix circular reference error in panes.js
  frontend/modules/panes.js
Due: none

Simplify mobile UI to single-pane mode with FAB toolbar
  frontend/css/mobile-panes.css
  frontend/modules/init.js
  frontend/modules/mobile-panes.js
  frontend/modules/panes.js
Due: none

Redesign mobile UI with Material Design 3 patterns
  frontend/app-modular.js
  frontend/css/mobile-panes.css
  frontend/index.html
  frontend/modules/config.js
  frontend/modules/init.js
  frontend/modules/mobile-panes.js
  frontend/modules/panes.js
  frontend/modules/state.js
Due: none

Fix folder action buttons not visible on tablet/touch devices
  frontend/css/mobile-panes.css
Due: none

Fix mobile UI artifacts showing on tablet devices
  frontend/css/mobile-panes.css
  frontend/index.html
Due: none

Fix favorites not updating on note/folder move, rename, and delete
  frontend/index.html
  frontend/modules/favorites.js
  frontend/modules/folder-operations.js
  frontend/modules/images.js
  frontend/modules/init.js
  frontend/modules/notes.js
Due: none

Add image preview in panes
  frontend/index.html
  frontend/modules/images.js
  frontend/modules/notes.js
  frontend/modules/panes.js
Due: none

Add comprehensive accessibility improvements
  frontend/index.html
  frontend/modules/drawio.js
  frontend/modules/folder-render.js
  frontend/modules/markdown.js
  frontend/modules/plugins.js
  frontend/modules/templates.js
  frontend/modules/ui.js
Due: none

Add frontend test suites for search, markdown rendering, and accessibility
  tests/test_accessibility.html
  tests/test_all.html
  tests/test_markdown_render.html
  tests/test_search_ui.html
Due: none

Add mermaid diagram rendering in PDF export
  backend/routers/plugins_pdf.py
  frontend/index.html
  frontend/modules/export.js
  frontend/modules/state.js
  plugins/pdf_export.py
Due: ruff, ruff-format, bandit, mypy

Refine tag parsing to support multiple formats and hierarchical tags
  backend/services/tag_service.py
  frontend/modules/metadata.js
  frontend/modules/panes.js
  frontend/modules/tags.js
  tests/test_tag_parsing.py
Due: ruff, ruff-format, bandit, mypy

Fix tag pill display in split view and remove priority fields from collapsed bar
  .gitignore
  config.yaml
  frontend/index.html
  frontend/modules/metadata.js
  frontend/modules/panes.js
  tests/test_accessibility.html
  tests/test_markdown_render.html
  tests/test_search_ui.html
  tests/test_tag_parsing.py
Due: check-yaml, ruff, ruff-format, bandit, mypy, yamllint

Add independent editor font family and size typography settings
  frontend/index.html
  frontend/modules/panes.js
  frontend/modules/settings.js
  frontend/modules/state.js
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$, but not: ^data/
  check-json: any of: \.json$, but not: ^data/
  check-toml: any of: \.toml$, but not: ^data/
  ruff: any of: \.py$, but not: ^data/
  ruff-format: any of: \.py$, but not: ^data/
  bandit: any of: \.py$, but not: ^data/
  mypy: any of: \.py$, but not: ^data/
  yamllint: any of: \.(yaml|yml)$, but not: ^data/
